<h5 class="card-title"><%=link_to obj.company, admin_ad_unit_path(obj.id)%></h5>
<p class="card-text"><%=obj.pitch%></p>
<a href="<%=admin_ad_unit_path(obj.id)%>" class="btn btn-primary btn-sm">Buy More!</a>
